body{
    background-color: rgb(238, 238, 238);
    font-family: Arial, sans-serif;  
}

header{
    text-align: center;
}


.bio-figure{
    text-align: center;
    background-color: white;
    margin: 0;
}


.image-caption{
    padding: 15px;
}

footer{
    text-align: center;
}

.timeline-title{
    text-align: center;
}

.quote-author{
    text-align: center;
}


.timeline{
    list-style-position: inside;
    width: 400px;
    margin: 0 auto;
    padding-left: 20px;
}

.timeline li {
  margin-bottom: 10px;
}

